<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member.dao.MemberMapper">
	<select id="teamMemberList" resultType="com.sml.member.dto.MemberDto">
		select * from TEAMMEMBER
	</select>
	
	<insert id="TeamInsert" parameterType="java.util.HashMap">
		insert into Team values(TEAM_TEAMCODE_SQL.nextval,#{teamName},#{teamReaderName},#{teamId},#{teamPassword},#{sportType},#{emblem},#{teamGrade}, #{path},'팀소개가 없습니다.')
	</insert> 
		
	<delete id="Teamdelete" parameterType="int">
		delete from Team where TEAMCODE=#{team}
	</delete>
	
	<select id="TeamCodeSelect" parameterType="String" resultType="int">
		select TEAMCODE from Team where teamid = #{teamId}
	</select>
	<insert id="memberInsert" parameterType="com.sml.member.dto.MemberDto">
		insert into TeamMember values(TEAMMEMBER_MEMBERCODE_SQL.nextval,#{teamCode},#{memberName},#{memberBirth},#{memberRegion},#{memberEmail},#{memberPhone},#{memberGender})
	</insert> 
	
	<select id="teamReader" parameterType="int" resultType="String">
		select teamLeaderName from team where TEAMCODE=#{team}
	</select>
	
	<insert id="updateTeamReader" parameterType="java.util.HashMap">
		update team set teamLeaderName=#{teamLeaderName} where TEAMCODE=#{team}
	</insert>
	
	<insert id="insertHomeGround" parameterType="java.util.HashMap">
		insert into homeGround (teamCode, ground) values (#{team}, #{homeGround})
	</insert>
	
	
	<select id="getMemberInfo" parameterType="int" resultType="com.sml.member.dto.MemberDto">
		select * from TeamMember where teamCode = #{teamCode}
	</select>
	
	<update id="updateMemberInfoOk" parameterType="java.util.HashMap">
		update TeamMember set memberName=#{memberName}, memberBirth=#{memberBirth}, memberRegion=#{memberRegion}, memberEmail=#{memberEmail}, memberPhone=#{memberPhone}, memberGender=#{memberGender} where teamCode=#{teamCode}
	</update>
	
	<select id="getTeamInfo" parameterType="String" resultType="com.sml.team.dto.TeamDto">
 		select * from team where teamName=#{teamName}
 	</select>
 	
 	<select id="getTeamMemberList" parameterType="java.util.HashMap" resultType="com.sml.member.dto.MemberDto">
 		<![CDATA[
			select * from 
				(select rownum as rrownum, d.*  from 
					((select rownum as rnum, c.* from 
						(select a.* from teamMember a, team b where b.teamName=#{teamName} and a.teamcode=b.teamcode order by memberCode asc) c order by rnum desc) d) )e 
							where rrownum>=#{startRow} and rrownum <=#{endRow}
		]]>
 	</select>
	
	<select id="getTeamMemberCount" parameterType="int" resultType="int">
		select count(*) from teamMember where teamCode=#{teamCode}
	</select>
	
	<insert id="addMember" parameterType="com.sml.member.dto.MemberDto">
		<![CDATA[
			insert into teamMember(memberCode,teamCode,memberName,memberBirth,memberRegion,memberEmail,memberPhone,memberGender)
			values(teammember_membercode_sql.nextval,#{teamCode},#{memberName},#{memberBirth},#{memberRegion},#{memberPhone},#{memberEmail},#{memberGender})
		]]>	
	</insert>
	
	<delete id="deleteMember" parameterType="int">
		delete teamMember where memberCode=#{memberCode}
	</delete>
</mapper>  