<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="dao.LeagueMapper"> 	
 	<select id="getLeagueList" parameterType="String" resultType="com.sml.league.dto.LeagueDto">
 		select * from leagueInfo where leagueSport=#{sportType} and leagueState='1'
 	</select> 	
 	
 	<select id="teamSelect" parameterType="String" resultType="int">
 		select teamcode from Team where teamId=#{teamId}
 	</select>
 	
 	<select id="leagueJoinSelect" parameterType="int" resultType="int">
 		select count(LEAGUECODE) from LEAGUEJOIN where teamCode=#{teamCode}
 	</select>
 	
 	<select id="count" parameterType="int" resultType="int">
 		select count(*) from LEAGUEJOIN where leagueCode=#{leagueCode}
 	</select>
 	
 	<insert id="applicate" parameterType="java.util.HashMap">
 		insert into LEAGUEJOIN values(#{leagueCode},#{teamCode})
 	</insert>
 	
 	<select id="getJoinLeagueCode" parameterType="int" resultType="String">
 		select NVL(LEAGUECODE, 0) from LEAGUEJOIN where  teamCode=#{teamCode}
 	</select>
 	
 	<select id="getLeagueInfo" parameterType="int" resultType="com.sml.league.dto.LeagueDto">
 		select * from leagueInfo where leagueCode=#{leagueCode}
 	</select>
 	
 	<select id="getLeagueJoinList" parameterType="int" resultType="int">
 		select teamCode from leagueJoin where leagueCode=#{leagueCode}
 	</select>
 	
 	<insert id="insertLeagueGame" parameterType="com.sml.record.dto.RecordDto">
 		insert into gameRecord (gameCode, teamCode, teamCode2, gameType, refereeNumber, gameState, gameDate, gamePlace, gameResult, sportType, gameTime) values 
 		(gameRecord_gameCode_sql.nextVal,#{teamCode}, #{teamCode2}, #{gameType}, #{refereeNumber}, #{gameState}, #{gameDate}, #{gamePlace}, #{gameResult}, #{sportType}, #{gameTime})
 	</insert>
 	
 	<select id="getTeamInfo" parameterType="int" resultType="com.sml.team.dto.TeamDto">
 		select * from team where teamCode=#{teamCode}
 	</select>
 	
 	<insert id="insertLeagueSchedule" parameterType="com.sml.schedule.dto.ScheduleDto">
		insert into TEAMSCHEDULE values(teamschedule_num_sql.nextval,#{teamCode},#{scheduleType},#{endDate},#{scheduleTitle},#{scheduleContent},#{startDate})
	</insert>
	
	<select id="invalidSchedule" parameterType="com.sml.schedule.dto.ScheduleDto" resultType="int">
		<![CDATA[
			select count(*) from gameRecord where to_char(gameDate,'yyyy-mm-dd')=#{gameDate} and (teamcode2=#{teamCode} or teamcode=#{teamCode}) and gameTime=#{gameTime}
		]]>
	</select>
	
	<update id="changeLeagueState" parameterType="int">
		update leagueInfo set leagueState=0 where leagueCode=#{leagueCode}
	</update>
	
	<select id="searchLeague" parameterType="String" resultType="com.sml.league.dto.LeagueDto">
		select * from leagueinfo where leagueName like concat(#{leagueName}, '%')
	</select>
	
	<select id="getTeamLeagueInfo" parameterType="String" resultType="com.sml.league.dto.LeagueDto">
		select a.* from leagueInfo a, leagueJoin b, team c where c.teamName=#{teamName} and c.teamCode=b.teamCode and b.leagueCode=a.leagueCode
 	</select>
 	
 	<select id="getLeagueTeamList" parameterType="int" resultType="com.sml.team.dto.TeamDto">
 		select a.* from team a, leagueJoin b where b.leagueCode=#{leagueCode} and b.teamCode=a.teamCode
 	</select>
 	
 	<select id="getRecordList" parameterType="int" resultType="com.sml.record.dto.RecordDto">
 		select * from gameRecord where gameType=#{leagueCode} 
 	</select>
 	
 	<select id="getCountWin" parameterType="java.util.HashMap" resultType="int">
 		select count(*) from gameRecord where ((teamCode=#{teamCode} and teamResult='승') or (teamCode2=#{teamCode} and team2Result='승')) and gameType=#{leagueCode} and gameState='경기 종료'
 	</select>
 	
 	<select id="getCountLose" parameterType="java.util.HashMap" resultType="int">
 		select count(*) from gameRecord where ((teamCode=#{teamCode} and teamResult='패') or (teamCode2=#{teamCode} and team2Result='패')) and gameType=#{leagueCode} and gameState='경기 종료'
 	</select>
 	
 	<select id="getCountDraw" parameterType="java.util.HashMap" resultType="int">
 		select count(*) from gameRecord where ((teamCode=#{teamCode} and teamResult='무') or (teamCode2=#{teamCode} and team2Result='무')) and gameType=#{leagueCode} and gameState='경기 종료'
 	</select>
 	
 	<select id="getCountGame" parameterType="java.util.HashMap" resultType="int">
 		select count(*) from gameRecord where (teamCode=#{teamCode} or teamCode2=#{teamCode}) and gameType=#{leagueCode} and gameState='경기 종료'
 	</select>
 </mapper>