<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="dao.LeagueMapper"> 	
 	<select id="getLeagueList" parameterType="String" resultType="com.sml.league.dto.LeagueDto">
 		select * from leagueInfo where leagueSport=#{sportType} and leagueState='1'
 	</select> 	
 	
 	<select id="teamSelect" parameterType="String" resultType="int">
 		select teamcode from Team where teamId=#{teamId}
 	</select>
 	
 	<select id="leagueJoinSelect" parameterType="int" resultType="int">
 		select count(LEAGUECODE) from LEAGUEJOIN where teamCode=#{teamCode}
 	</select>
 	
 	<select id="count" resultType="int">
 		select count(*) from LEAGUEJOIN where leagueCode=#{leagueCode}
 	</select>
 	
 	<insert id="applicate" parameterType="java.util.HashMap">
 		insert into LEAGUEJOIN values(#{leagueCode},#{teamCode})
 	</insert>
 </mapper>