<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="dao.LeagueMapper"> 	
 	<select id="getLeagueList" parameterType="String" resultType="com.sml.league.dto.LeagueDto">
 		select * from leagueInfo where leagueSport=#{sportType} and leagueState='1'
 	</select> 	
 	
 	<select id="teamSelect" parameterType="String" resultType="int">
 		select teamcode from Team where teamId=#{teamId}
 	</select>
 	
 	<select id="leagueJoinSelect" parameterType="int" resultType="int">
 		select count(LEAGUECODE) from LEAGUEJOIN where teamCode=#{teamCode}
 	</select>
 	
 	<select id="count" parameterType="int" resultType="int">
 		select count(*) from LEAGUEJOIN where leagueCode=#{leagueCode}
 	</select>
 	
 	<insert id="applicate" parameterType="java.util.HashMap">
 		insert into LEAGUEJOIN values(#{leagueCode},#{teamCode})
 	</insert>
 	
 	<select id="getJoinLeagueCode" parameterType="int" resultType="String">
 		select NVL(LEAGUECODE, 0) from LEAGUEJOIN where  teamCode=#{teamCode}
 	</select>
 	
 	<select id="getLeagueInfo" parameterType="int" resultType="com.sml.league.dto.LeagueDto">
 		select * from leagueInfo where leagueCode=#{leagueCode}
 	</select>
 	
 	<select id="getLeagueJoinList" parameterType="int" resultType="int">
 		select teamCode from leagueJoin where leagueCode=#{leagueCode}
 	</select>
 	
 	<insert id="insertLeagueGame" parameterType="com.sml.record.dto.RecordDto">
 		insert into gameRecord values (gameRecord_gameCode_sql.nextVal,#{teamCode}, #{teamCode2}, #{gameType}, #{refereeNumber}, #{gameState}, #{gameDate}, #{gamePlace}, #{gameResult}, #{sportType}, #{gameTime})
 	</insert>
 	
 	<select id="getTeamInfo" parameterType="int" resultType="com.sml.team.dto.TeamDto">
 		select * from team where teamCode=#{teamCode}
 	</select>
 	
 	<insert id="insertLeagueSchedule" parameterType="com.sml.schedule.dto.ScheduleDto">
		insert into TEAMSCHEDULE values(teamschedule_num_sql.nextval,#{teamCode},#{scheduleType},#{endDate},#{scheduleTitle},#{scheduleContent},#{startDate})
	</insert>
	
	<select id="invalidSchedule" parameterType="com.sml.schedule.dto.ScheduleDto" resultType="int">
		<![CDATA[
			select count(*) from gameRecord where to_char(gameDate,'yyyy-mm-dd')=#{gameDate} and (teamcode2=#{teamCode} or teamcode=#{teamCode}) and gameTime=#{gameTime}
		]]>
	</select>
	
	<update id="changeLeagueState" parameterType="int">
		update leagueInfo set leagueState=0 where leagueCode=#{leagueCode}
	</update>
 </mapper>