<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.adminDaoMapper">

	<select id="getManageTeamCount" resultType="int">
		<![CDATA[
		select count(*) from team
		]]>
	</select>


	<select resultType="java.util.HashMap" id="getManageTeam" parameterType="java.util.HashMap">

		<![CDATA[ select * 
				  from (select rownum as rnum, c.* 
						  from (select a.sporttype, a.emblem, a.teamname, a.teamleadername, b.* 
						  		from team a, teamMember b 
						  		where a.teamcode=b.teamcode
						  		and a.teamLeaderName=b.memberName
						  		order by a.teamname asc) c) 
				  where rnum>=#{startRow} and rnum<=#{endRow} 
		]]>
	</select>

	<delete id="manageTeamDelete" parameterType="int">
		DELETE FROM (SELECT * FROM team ,teammember WHERE team.teamcode = teammember.teamcode and team.teamcode=#{teamcode})
	</delete>


	<select resultType="int" id="refereeCount">
		<![CDATA[ select count(*) from referee ]]>
	</select>


	<select resultType="com.sml.referee.dto.RefereeDto" id="refereeList"	parameterType="java.util.Map">
		<![CDATA[ select * from (select rownum rnum, a.* from (select * from referee order by refereeyes asc, refereesport asc , refereeName asc, refereenumber desc)a) where rnum >=#{startRow} and rnum <=#{endRow} ]]>
	</select>

	<delete id="refereeDelete" parameterType="int"> 
		delete from referee where refereeNumber=#{refereeNumber} 
	</delete>

	<update id="refereeAccept" parameterType="int"> 
		update referee set refereeyes='1' where refereeNumber=#{refereeNumber}
	</update>

	<select resultType="com.sml.referee.dto.RefereeDto" id="refereeSearch" parameterType="String"> 
		<!-- select * from referee where refereeName like #{refereeName} -->
		select * from referee where refereeName like concat(#{refereeName}, '%')
	</select>
	
	<insert id="createLeague" parameterType="com.sml.league.dto.LeagueDto">
		insert into leagueinfo(leagueCode,leagueSport,leagueRegion,leagueTeamNumber,leagueDay,leagueTime,leagueStartDate,leagueImage,leagueName,leagueEndDate, leagueState,leaguePlace)
		values(leagueinfo_leagueCode_sql.nextval,#{leagueSport},#{leagueRegion},#{leagueTeamNumber},#{leagueDay},#{leagueTime},#{leagueStartDate},#{leagueImage},#{leagueName},#{leagueEndDate}, #{leagueState},#{leaguePlace})
	</insert>

	
	<select id="getManageLeagueCount" resultType="int">
		<![CDATA[ select count(*) from leagueInfo ]]>
	</select>
	
	<select id="manageLeagueList" parameterType="java.util.HashMap" resultType="com.sml.league.dto.LeagueDto">
		<![CDATA[ select * from (select rownum rnum, a.* from (select * from leagueInfo order by leagueStartDate asc)a) where rnum >=#{startRow} and rnum <=#{endRow} ]]>
	</select>
	
	<delete id="leagueDelete" parameterType="int">
		delete from leagueInfo where leagueCode=#{leagueCode} 
	</delete>
	
	<select id="leagueInfo" parameterType="int" resultType="com.sml.league.dto.LeagueDto">
		select * from leagueInfo where leagueCode=#{leagueCode}
	</select>
	
	<select id="leagueUpdate" parameterType="int" resultType="com.sml.league.dto.LeagueDto">
		select * from leagueInfo where leagueCode=#{leagueCode}
	</select>
	
	<update id="leagueUpdateOk" parameterType="com.sml.league.dto.LeagueDto">
		update leagueInfo set leagueSport=#{leagueSport},leagueRegion=#{leagueRegion},leagueName=#{leagueName},leagueTeamNumber=#{leagueTeamNumber},leagueDay=#{leagueDay},leagueTime=#{leagueTime},leagueStartDate=#{leagueStartDate},leagueEndDate=#{leagueEndDate},leaguePlace=#{leaguePlace} where leagueCode=#{leagueCode}
	</update>
	
	<select id="getLeagueList" parameterType="String" resultType="com.sml.league.dto.LeagueDto">
		select * from leagueInfo where leagueSport=#{leagueSport}
	</select>
	
	<update id="leagueSwitch" parameterType="java.util.HashMap">
		update leagueInfo set leagueState=${leagueState} where leagueCode=${leagueCode}
	</update>
	
	<select resultType="java.util.HashMap" id="searchTeamMember" parameterType="String">

		<![CDATA[ select * 
				  from (select rownum as rnum, c.* 
						  from (select a.sporttype, a.emblem, a.teamname, a.teamleadername, b.* 
						  		from team a, teamMember b 
						  		where a.teamcode=b.teamcode and a.teamname like concat(#{teamName}, '%')
						  		order by a.teamname asc) c) 
				  
		]]>
	</select>
	
	<select id="getRecordCount" parameterType="int" resultType="int">	
		select count(*) from gameRecord where gameType=#{leagueCode}	
	</select>
	
	<select id="getRecordList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		<![CDATA[
			select * from (
				select rownum as rnum, d.* from
				(select a.*, b.teamName as team1, c.teamName as team2, b.emblem as emblem1, c.emblem as emblem2
					from gameRecord a, team b, team c 
						where a.teamcode=b.teamcode and a.teamcode2=c.teamcode and gameType=#{leagueCode}
							order by gameDate desc) d ) where rnum >= #{startRow} and rnum <= #{endRow}
		]]>	
	</select>
	
	<select id="getRecordInfo" parameterType="int" resultType="java.util.HashMap">
		select a.*, b.teamName as team1, b.emblem as emblem1, c.teamName as team2, c.emblem as emblem2 from gameRecord a, team b, team c where a.teamCode=b.teamCode and a.teamCode2=c.teamCode and a.gameCode=#{gameCode}
	</select>
	
	<update id="insertDraw" parameterType="java.util.HashMap">
		update gameRecord set gameState='경기 종료', gameResult=#{resultScore}, teamResult='무', team2Result='무' where gameCode=#{gameCode}
	</update>
	
	<update id="insertTeam1" parameterType="java.util.HashMap">
		update gameRecord set gameState='경기 종료', gameResult=#{resultScore}, teamResult='승', team2Result='패' where gameCode=#{gameCode}
	</update>
	
	<update id="insertTeam2" parameterType="java.util.HashMap">
		update gameRecord set gameState='경기 종료', gameResult=#{resultScore}, teamResult='패', team2Result='승' where gameCode=#{gameCode}
	</update>
</mapper>
