<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="team.dao.TeamMapper">
	<select id="loginOk" parameterType="java.util.HashMap" resultType="com.sml.team.dto.TeamDto">
		select * from team where TEAMID=#{id} and TEAMPASSWORD=#{password}
	</select>
	
	<insert id="searchMatching" parameterType="com.sml.matching.dto.MatchingDto">
		insert into MATCHING values (matching_matchingcode_sql.nextval , #{teamCode} , #{matchingSport} , #{matchingDistance} , #{matchingTime} , #{matchingState}, #{matchingDay}, #{matchingPlace}, #{matchingLatlng})
	</insert>
	
 	<select id="idCheckSelect" parameterType="String" resultType="String">
 		select teamId from team where teamId=#{teamId}
 	</select>
 	
 	<select id="teamIdCheck" parameterType="String" resultType="String">
 		select teamName from team where teamId=#{teamName}
 	</select>
 	
	<select id="getTeamInfo" parameterType="String" resultType="com.sml.team.dto.TeamDto">
 		select * from team where teamName=#{teamName}
 	</select>
 	
 	<select id="getTeamMemberList" parameterType="java.util.HashMap" resultType="com.sml.member.dto.MemberDto">
 		<![CDATA[
			select * from 
				(select rownum as rrownum, d.*  from 
					((select rownum as rnum, c.* from 
						(select a.* from teamMember a, team b where b.teamName=#{teamName} and a.teamcode=b.teamcode order by memberCode asc) c order by rnum desc) d) )e 
							where rrownum>=#{startRow} and rrownum <=#{endRow}
		]]>
 	</select>
	
	<select id="getTeamMemberCount" parameterType="String" resultType="int">
		select count(*) from teamMember a, team b where b.teamName=#{name} and a.teamcode=b.teamcode
	</select>
	
	<insert id="addMember" parameterType="java.util.HashMap">
		<![CDATA[
			insert into teamMember values (teammember_membercode_sql.nextval, #{teamCode}, #{member.memberName}, sysdate, #{member.memberRegion},#{member.memberEmail}, #{member.memberPhone} , #{member.memberGender})
		]]>	
	</insert>
	
	<delete id="deleteMember" parameterType="int">
		delete teamMember where memberCode=#{memberCode}
	</delete>
	
	<select id="recordList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		<![CDATA[
			select * from (
				select rownum as rnum, d.* from
				(select a.*, b.teamName as team1, c.teamName as team2 
					from gameRecord a, team b, team c 
						where a.teamcode=b.teamcode and a.teamcode2=c.teamcode and (b.teamName=#{teamName} or c.teamName=#{teamName}) 
							order by gameCode desc) d ) where rnum >= #{startRow} and rnum <= #{endRow}
		]]>	
	</select>
	
	<select id="getRecordCount" parameterType="String" resultType="int">
		<![CDATA[
			select count(*) from (
				select rownum as rnum, d.* from
				(select a.*, b.teamName as team1, c.teamName as team2 
					from gameRecord a, team b, team c 
						where a.teamcode=b.teamcode and a.teamcode2=c.teamcode and (b.teamName=#{teamName} or c.teamName=#{teamName}) 
							order by gameCode desc) d )
		]]>	
	</select>
	
	<select id="getGugunList" parameterType="String" resultType="String">
		<![CDATA[
			select distinct(gugun) from zipcode where sido=#{sido}
		]]>	
	</select>
	
	<select id="getSidoList" parameterType="String" resultType="String">
		<![CDATA[
			select distinct(sido) from zipcode
		]]>	
	</select>
	
	<select id="getTeamGround" parameterType="int" resultType="String">
		<![CDATA[
			select ground from homeGround where teamCode=#{teamCode}
		]]>	
	</select>
	
	<select id="getTeamMatchingInfo" parameterType="int" resultType="com.sml.matching.dto.MatchingDto">
		select * from matching where teamCode=#{teamCode}
	</select>
	
	<delete id="deleteMatching" parameterType="int">
		delete matching where matchingCode=#{matchingCode}
	</delete>
	
	<select id="getOtherMatchingInfo" parameterType="java.util.HashMap" resultType="com.sml.matching.dto.MatchingDto">
		select * from matching where not teamCode=#{teamCode} and matchingState=#{matchingState} and matchingSport=#{sportType}
	</select>
	
	<update id="updateTeamEmblem" parameterType="com.sml.team.dto.TeamDto">
		update team set emblem=#{emblem}, path=#{path} where teamName=#{teamName}
	</update>
	
	<select id="selectTeamCode" parameterType="String" resultType="int">
 		select teamCode from team where teamName=#{teamName}
 	</select>
 		
	<insert id="addTeamLog" parameterType="com.sml.team.dto.TeamLogDto" >
	 insert into TeamLog values(BOARDREPLY_REPLYCODE_SQL.nextval,#{teamCode},#{replyNickName},#{replyPassword},#{replyContent},#{replyDate})
	 </insert>
	 
	 <select id="getTeamLogCount" resultType="int">
		select count(*) from teamLog
	</select>

	<select id="teamLogDtoList" resultType="com.sml.team.dto.TeamLogDto" parameterType="java.util.HashMap" >
	<![CDATA[  select * from 
				(select rownum rnum,a.* from
					(select * from teamLog where teamCode=#{teamCode} order by replyCode desc)a)
				where rnum>=#{startRow} and rnum<=#{endRow} ]]>
    </select>

	<delete id="teamLogDelete" parameterType="java.util.HashMap" >
	 delete from teamLog where replyPassword=#{replyPassword} and replyCode=#{replyCode}
    </delete>
    	
	<update id="changeMatchingState" parameterType="java.util.HashMap">
		update matching set matchingState=#{matchingState} where matchingCode=#{matchingCode}
	</update>
	
	<insert id="createGameRecord" parameterType="java.util.HashMap">
		insert into gameRecord (gameCode, teamCode, teamCode2, gameType, refereeNumber, gameState, sportType)
		values (gameRecord_gameCode_sql.nextVal, #{teamCode}, #{teamCode2}, #{gameType}, #{refereeNumber}, #{gameState}, #{sportType})
	</insert>
	
	<select id="getNormalMatchInfo" parameterType="int" resultType="java.util.HashMap">
		select d.* from (
			select a.*, b.teamName as team1, c.teamName as team2 
				from gameRecord a, team b, team c 
					where a.teamcode=b.teamcode and a.teamcode2=c.teamcode and (b.teamCode=#{teamCode} or c.teamCode=#{teamCode}) and gameState='경기 전'
						order by gameCode desc) d
	</select>
	
	<update id="setWaitMatching" parameterType="java.util.HashMap">
		update matching set matchingState=#{matchingState} where teamCode=#{teamCode}
	</update>
	
	<select id="getTeamCodeInfo" parameterType="int" resultType="com.sml.team.dto.TeamDto">
		select * from team where teamCode=#{teamCode}
	</select> 
	
	<update	id="updateHomeGround" parameterType="java.util.HashMap">
		update homeGround set ground=#{homeGround} where teamcode=#{teamCode}
	</update>
	
	<update	id="updateTeamInfo" parameterType="java.util.HashMap">
		update team set teamPassword=#{teamPassword}, teamName=#{teamName}, sportType=#{sportType} where teamCode=${teamCode} 
	</update>	
	
	<insert id="replyWrite" parameterType="com.sml.team.dto.TeamLogDto">
		insert into TEAMLOG values(BOARDREPLY_REPLYCODE_SQL.nextval,#{teamCode},#{replyNickName},#{replyPassword},#{replyContent},#{replyDate})
	</insert>
	
	<select id="getReplyList" parameterType="String" resultType="com.sml.team.dto.TeamLogDto">
		select * from teamLog l , team t where t.teamName=#{teamName} and t.teamCode = 
		(select teamCode from team where teamName = #{teamName}) and t.teamCode = l.teamCode order by replyCode desc
	</select>
	
	<select id="getMoreReplyList" parameterType="java.util.HashMap" resultType="com.sml.team.dto.TeamLogDto">
		<![CDATA[
			select * from 
				(select rownum rnum,a.* from
					(select * from teamLog where teamCode=#{teamCode} order by replyCode desc)a)
				where rnum>=#{startRow} and rnum<=#{endRow}

		]]>
	</select>
</mapper>
